
 <p> 
 <strong> First Name:  </strong>
 <%= @profile.first_name %>
</p>
<p>
 <strong> Last Name: </strong>
 <%= @profile.last_name %>
</p>
<p>
 <strong> Gender: </strong>
 <%= @profile.gender %>
</p>
<p>
 <strong> phone: </strong>
 <%= @profile.phone%>
</p>
<strong> Address: </strong>
 <%= @profile.address%>
</p>
<strong> Email: </strong>
 <%= @profile.email%>
</p>
<p>
<strong> Fax: </strong>
 <%= @profile.fax%>
</p>
<strong> Cell: </strong>
 <%= @profile.cell%>
</p>
<strong> Rank Id: </strong>
 <%= @profile.rank_id%>
</p>
<strong> Education:</strong>
 <%= @profile.education%>
</p>
<p>
 <strong> Home Town: </strong>
 <%= @profile.hometown%>
 </p>
 <strong> Stories: </strong>
 <%= @profile.stories%>
 </p>
<strong> Movies: </strong>
 <%= @profile.movies%>
 </p>
 <strong> Phone Visibility: </strong>
 <%= @profile.phone_visibility%>
 </p>
 <strong> Address Visibility: </strong>
 <%= @profile.address_visibility%>
 </p>
 <strong> Email Visibility: </strong>
 <%= @profile.email_visibility%>
 </p>
 <strong> Other Emails: </strong>
 <%= @profile.other_emails%>
 </p>





